.link-whats-mobile {
    margin: 10px 0px 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    color: light-dark(var(--blue-marine),var(--white));
    font-style: italic;
}

.whats-mobile {
    height: 20px;
    margin-right: 10px;
    transform: translateY(4px);
    background-color: light-dark(var(--blue-marine),var(--black-dark));
    padding: 2px;
    border-radius: 50%;
}

#foto-perfil {
    background-image: url(../imagens/foto-perfil-pequena2.png);
    position: relative;
    margin: auto;
    background-repeat: no-repeat;
    height: 150px;
    width: 154px;
    display: block;
    border: solid 2px light-dark(var(--blue-marine),var(--white));
    border-radius: 50%;
    z-index: -1;
}

.div-photo-profile {
    display: block;
    width: 100vw;
}

.description-profile {
    display: flex;
    flex-direction: column;
    padding: 0px 20px;
}

.description-profile>h2 {
    color: light-dark(var(--blue-marine),var(--white));
    text-align: center;
    margin: 20px 0px 20px 0px;
}

.description-profile>p {
    text-align: justify;
}

.experience {
    margin-bottom: 20px;
}

strong {
    color: light-dark(var(--blue-marine),var(--pink));
}

.line-profile {
    background-color: light-dark(var(--blue-marine),var(--white));
    height: 1px;
    border: none;
    width: 90%;
    margin: 30px auto 20px auto;
}