body{
    max-width: 1300px;
}

.img-one{
    background-image: url(../imagens/foto\ perfil.jpeg);
}

.call{
    margin-bottom: 20px;
}

.call>p, .text{
    color: light-dark(var(--black-dark), var(--black-dark))
}

h1{
    color: light dark();
}

.text{
    display: flex;
    gap: 80px;
}

.service, .service-par{
    display: flex;
    justify-content: space-around;
    flex-direction: column ;
    align-items: center;
    background-color: var(--grey);
    height: 600px;
}

.service-par{
    flex-direction: column-reverse;
}

.infos{
    display: flex;
    flex-direction: column;
    padding: 0px 30px;
    gap: 10px;
    width: 300px;
}

.photo-service{
    width:250px;
    height: 250px;
    border-radius: 10px;
}

#one,#two,#three,#four,#five,#six,#seven{
    background-repeat: no-repeat;
    background-size: cover;
}

#one{
    background-image: url(../imagens/parede\ azul.png);
}

#two{
    background-image: url(../imagens/grade\ portao.png);
}

#three{
    background-image: url(../imagens/cimento\ queimado.png);
}

#four{
    background-image: url(../imagens/emassamento.png);
}

#five{
    background-image: url(../imagens/portas\ laqueadas.png);
    background-position: center;
}

#six{
    background-image: url(../imagens/envernizar.png);
}

#seven{
    background-image: url(../imagens/vagas\ de\ garagem.png);
}
