@media screen and (min-width:1024px) {

    #footer-contact>p>img{
        height: 40px;
        transform: translateY(10px);
    }

    #footer-contact {
        gap: 15px;
        height: 150px;
        font-size: 1.5em;
    }

    .whats{
        height: 20px;
    }

    #footer-contact>hr {
        width: 800px;
    }
}