#section-depositions>div>h2 {
    text-align: center;
    color: light-dark(var(--blue-marine),var(--white));
}

.article-social {
    display: flex;
    flex-direction: column;
}

.card-social {
    display: flex;
    flex-direction: column;
    width: 200px;
    margin: 20px auto;
    padding: 20px;
    background-color: light-dark(var(--grey),var(--black-dark));
    border: 2px solid light-dark(var(--blue-marine),var(--white));
    color: light-dark(var(--blue-marine),var(--white));
}

.card-social:nth-child(4),
.card-social:nth-child(5) {
    display: none;
}

.card-social>img {
    height: 100px;
    width: 100px;
    margin: auto;
}

.card-social>p {
    text-align: center;
    padding: 20px 0px;
}