.img-one{
    background-image: url(imagens-blog/verniz.jpg);
}

.img-two{
    background-image: url(imagens-blog/verniz2.jpg);
}


@media screen and (min-width:1024px){
    .img-one{
        background-image: url(imagens-blog/verniz.jpg);
    }
    
    .img-two{
        background-image: url(imagens-blog/verniz2.jpg);
    }
}