@media screen and (min-width:1024px) {

    .carousel>h2 {
        margin-bottom: 30px;
    }

    .carousel-content {
        height: 230px;
    }

    .first {
        background-image: url(../imagens/marca-um.jpg);
        background-size: contain;
    }

    .second {
        background-image: url(../imagens/marca-dois.jpg);
        background-size: contain;
    }
}