.background-header {
    background-image: url(../imagens/houses-66-desfocado.jpg);
    height: 200px;
    /* width: 100vw; */
    background-repeat: no-repeat;
    background-size: cover;
}

.button-case{
    position: relative;
    top: 10%;
    left:5%;
    background-color: var(--white);
    width: 40px;
    height: 20px;
    border-radius: 50px;
}

.ball{
    position: relative;
    left: 0;
    transform: scale(.8);
    width: 50%;
    background-color:var(--black-dark);
    height: 20px;
    border-radius: 50px;
    transition: .4s;
}

.button-case.dark{
    background-color: var(--black-dark);
}

.ball.dark{
    left:calc(100% - 20px);
    background-color: var(--white);
}

.background-header>span {
    color:var(--white);
    position: absolute;
}

.title-anderson1 {
    font-weight: 700;
    top: 80px;
    left: 15px;
}

.title-anderson2 {
    border-radius: 50px;
    padding:0px 20px;
    font-weight: 400;
    font-style: italic;
    top: 100px;
    left: 60px;
    font-size: 12px;
}

.menu {
    display: none;
}

#menu-hamburguer {
    position: absolute;
    top: 20px;
    right: 20px;
    align-items: end;
    display: flex;
    flex-direction: column;
    gap: 3px;
    z-index: 3;
}

#menu-hamburguer>div {
    background-color: light-dark(var(--black-dark), var(--smoke));
    height: 3px;
    width: 30px;
    border-radius: 15px;
}

#section-hamburguer>ul{
    top: 0px;
    right: 0px;
    display: flex;
    width: 100vw;
    height: 100vh;
    /* background:linear-gradient(to top, var(--blue-cian), var(--white)50%); */
    background-color: light-dark(var(--white),var(--black-dark));
    position: fixed;
    flex-direction: column;
    justify-content: space-around;
    pointer-events: none;
    /*faz com que o usurio nao consiga clicar em algo que ainda nao esta aparecendo*/
    z-index: 2;
    transition: 0.8s ease-in-out;
    transform: translateX(100%);
}

#section-hamburguer>ul.open{
    transform: translateX(0);
}

#section-hamburguer>ul>li{
    font-weight: 600;
        padding: 0px 0px 0px 30px;
        pointer-events: all;
}

#section-hamburguer>ul>li>a {
    color:light-dark(var(--black-dark), var(--smoke));
}

.logo-hamburguer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.logo-hamburguer>.logo-img {
    background-image: url(../imagens/logo-pequena.png);
    height: 50px;
    width: 50px;
}

.logo-hamburguer>p {
    margin-top: 5px;
    color: light-dark(var(--black-dark), var(--smoke));
}