@media screen and (min-width:1024px) {

    .background-header {
        background-image: url(../imagens/houses-66-desfocado.jpg);
        background-position: center top;
        height: 650px;
        background-attachment: fixed;
    }

        .button-case{

            width: 80px;
            height: 40px;
        }
        
        .ball{
            height: 40px;
        }
        
        .ball.dark{
            left:calc(100% - 40px);
        }

    #logo {
        position: relative;
        top: 2%;
        left: 85%;
        height: 100px;
        width: 100px;
        background-image: url(../imagens/logo-media.png);
    }

    .title-anderson1 {
        font-weight: 700;
        font-size: 3.5em;
        top: 250px;
        left: 50px;
    }

    .title-anderson2 {
        font-weight: 400;
        top: 310px;
        left: 230px;
        font-size: 2.0em;
        font-style: italic;
    }

    .menu-mobile {
        display: none;
    }

    .menu {
        display: inline-block;
        width: 100vw;
    }

    .menu>nav {
        width: 100%;
        margin: auto;
    }

    .menu>nav>ul {
        display: flex;
        gap: 110px;
    }

    .menu>nav>ul>li>a {
        color: light-dark(var(--blue-marine), var(--white));
        padding: 5px 20px;
        border-radius: 50px;
    }

    .menu>nav>ul>li>a:hover {
        background-color: light-dark(var(--blue-cian), var(--pink));
        color: var(--white);
    }

    .link-whats-desktop {
        display: flex;
        align-items: center;
    }

    .link-whats-desktop>img {
        height: 30px;
        margin-right: 10px;
        background-color: light-dark(var(--blue-marine), var(--black-dark));
        padding: 2px;
        border-radius: 50%;
    }

    .link-whats-mobile {
        display: none;
    }

    .buttons-menu {
        display: flex;
        height: 80px;
        flex-direction: row;
        gap: 50px;
        justify-content: center;
        align-items: center;
    }

    .buttons-menu {
        font-size: 1.2em;
    }

    .buttons-menu>a:visited {
        color: light-dark(var(--blue-marine), var(--white));
    }
}